/
<template>
  <div>
    首页
    <el-row class="mb-4">
      <el-button>Default</el-button>
      <el-button type="primary">Primary</el-button>
      <el-button type="success">Success</el-button>
      <el-button type="info">Info</el-button>
      <el-button type="warning">9999</el-button>
      <el-button type="danger">999</el-button>
    </el-row>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
